<footer class="bg-gray-800 shadow text-gray-100">
    <div class="w-full mx-auto max-w-screen-3xl p-2.5 md:flex md:items-center md:justify-between">
      <span class="text-sm sm:text-center">© 2024-2025 DB Designer™
    </span>
        <ul class="space-x-6 flex items-center">
            <li>
                <a href="mailto:korol20041@gmail.com" target="_blank" class="hover:text-yellow-300 transition-colors duration-300 font-mono uppercase">
                    <i class="fa-solid fa-envelope fa-xl"></i>
                </a>
            </li>
            <li>
                <a href="https://t.me/javaro3" target="_blank" class="hover:text-yellow-300 transition-colors duration-300 font-mono uppercase">
                    <i class="fa-brands fa-telegram fa-xl"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/Javaro3" target="_blank" class="hover:text-yellow-300 transition-colors duration-300 font-mono uppercase">
                    <i class="fa-brands fa-github fa-xl"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>