<header class="bg-gray-800 text-gray-100 py-2 shadow-lg">
    <div class="flex justify-between items-center px-4">
        <div class="text-2xl font-bold tracking-tight">
            <a href="/" class="hover:text-yellow-300 transition-colors duration-300 font-mono uppercase">
                <i class="fa-solid fa-bezier-curve"></i>
                DBDesigner
            </a>
        </div>
        <nav class="space-x-6 flex items-center">
            @await Html.PartialAsync("Partials/Components/_NavLink", ("#", "Home"))
            @await Html.PartialAsync("Partials/Components/_NavLink", ("#", "About"))
            @await Html.PartialAsync("Partials/Components/_NavLink", ("#", "Services"))
            @await Html.PartialAsync("Partials/Components/_NavLink", ("#", "Contact"))
            <button class="ml-6 px-2 py-1 bg-yellow-500 hover:bg-yellow-400 text-gray-800 text-lg font-bold rounded-md transition-transform duration-300 ease-in-out transform hover:scale-110 hover:shadow-lg font-mono uppercase">Register</button>
            <button class="ml-6 px-2 py-1 bg-yellow-500 hover:bg-yellow-400 text-gray-800 text-lg font-bold rounded-md transition-transform duration-300 ease-in-out transform hover:scale-110 hover:shadow-lg font-mono uppercase">Log in</button>
        </nav>
    </div>
</header>

