# mounts
/mounts/MsSql/**
!/mounts/MsSql/.gitkeep
/mounts/MySql/**
!/mounts/MySql/.gitkeep
/mounts/PostgreSql/**
!/mounts/PostgreSql/.gitkeep
/mounts/SqLite/**
!/mounts/SqLite/.gitkeep

# projects
projects/*
!/projects/.gitkeep



db-designer/node_modules/

.idea
bin
obj
venv