@{
    ViewData["Title"] = "Not Found";
}

<div class="text-center p-10 font-bold font-mono uppercase uppercase bg-gradient-to-br from-black via-gray-900 via-yellow-700 via-gray-800 via-yellow-600 via-black/80 to-black flex flex-col items-center justify-center h-screen text-gray-100">
    <i class="fas fa-exclamation-triangle text-9xl mb-4"></i>
    <h1 class="text-7xl mb-4">404</h1>
    <p class="text-4xl mb-4">Page Not Found</p>
    <a href="/" class="px-4 py-2 bg-yellow-500 hover:bg-yellow-400 text-gray-100 text-5xl rounded-md transition-transform duration-300 ease-in-out transform hover:scale-110 hover:shadow-lg">Go Back Home</a>
</div>