@model (string Url, string Value)

<a href="@Model.Url" class="relative
                            text-lg 
                            font-bold 
                            font-mono 
                            uppercase 
                            after:absolute 
                            after:-bottom-1 
                            after:left-0 
                            after:w-full 
                            after:h-[2px] 
                            after:bg-yellow-300 
                            after:scale-x-0 
                            hover:after:scale-x-100 
                            after:transition-transform 
                            after:duration-300 
                            hover:text-yellow-300 
                            transition-colors 
                            duration-300">
    @Model.Value
</a>
